.outerBox{
  background-color: #7e8dae;
  /* overflow: hidden; */
}
.boxa {
  background-color:  #756642 ;
  width: 100px;
  height: 100px;
  overflow: auto;
}

.boxb {
  background-color: #756642 ;
  overflow: hidden;
  /* width: 200px; */
  height: 200px;
  /* display: flex; */
}
.boxc{
  background-color: #7e8dae;
  height: 100px;
  width: 100px;
  overflow: hidden;
}
.float-div{
  float: left;
}